* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}


header {
  background-color: #fffdfc;
  border-bottom: 2px solid #524c4a4c; 
  padding: 20px 40px;
  width: 100%
}

header nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; 
}


header .container {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  width: 100%;
  max-width: none;

}

header .container > a,
header .logo {
  font-family: 'Schoolbell', cursive;
  font-weight: 400;
  font-size: 2em;
  color: #000000;
  text-decoration: none;
  
}


header > a {
    font-family: 'Roboto', serif; 
    font-weight: 900;                      
    color: #000000;                        
    font-size: 2em;                          
    text-decoration: none;    
}



header nav ul {
  display: flex;      
  list-style: none;  
  justify-content: center;
  margin: 0;
  padding: 0px;
  gap: 50px;          
}


header nav a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}


header nav a:hover {
  text-decoration: underline;
}


body {
  background-color: #fffdfc;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
  margin: 0;   
}

main {
  padding: 100px 250px 50px; 
  
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 0.8em;
}

img {
  width: 80%;
}

#navigation {
  position: fixed;
}


#hero h1{
  height: 100vh;              
  padding: 500px 0px 0px 300px;
  font-size: 3em;
  
  height: 100vh; /* full viewport height */
  display: flex;
  flex-direction: column; /* stack h1 lines */
  justify-content: flex-start; /* start from top */
  align-items: flex-start; /* left-aligned text */
  padding: 18% 10% 0 10%; /* top padding moves it down from top, sides responsive */
  box-sizing: border-box;
}


#expertise h2 {
  margin-top: 50px;
}

#projects h2 {
  margin-top: 50px;
  
}

#skillstools h2 {
  margin-top: 50px;
}




footer {
  position: relative;
  background-color: #fffdfc;
  color: #342d2d;
  padding: 0px 250px;
}

footer::before {
  content: "";
  display: block;
  width: 250px;                
  height: 2px;               
  background-color: #524c4a4c;  
  margin: 0 auto 80px;        
}

footer .button.contact {
  margin-bottom: 20px; 
}

.button {
  display: inline-block; 
  background-color: transparent;
  border: 2px solid #524c4a4c;
  color: #342d2d; 
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #524c4a4c; 
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; 
  text-decoration: none;
}
